@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v23/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevW.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

a:-webkit-any-link {
  color: unset;
  text-decoration: unset;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "Source Code Pro", "Courier New", "Courier", monospace;
}

#root>div {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  min-height: 100%;
}

html {
  background-image: url('../../assets/images/title/skyline-night.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  user-select: none;
}

header #titlebar {
  height: 30px;
  padding: 10px 20px;
  background-color: #414141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#left {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

#right {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  color: darkorchid;
  text-shadow: darkorchid 0px 0px 10px;
}

#right #separator {
  margin: 0px 15px;
}

#exit:hover, #settings:hover {
  cursor: pointer;
  color: rgb(120, 39, 161);
  text-shadow: rgb(120, 39, 161) 0px 0px 10px;
}

.rfm-marquee-container {
  height: 50px;
  width: 100%;
  background-color: #111111bc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  color: goldenrod;
  text-shadow: goldenrod 0px 0px 10px;
}

.rfm-child {
  padding-right: 9px;
}

#body {
  width: 100%;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  padding-top:50px;
  overflow-y: scroll;
}

#body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  position: fixed;
}

/* Custom scrollbar track */
#body::-webkit-scrollbar-track {
  background: transparent;
}

/* Custom scrollbar handle */
#body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 3px solid transparent; /* Add space around the thumb */
  background-clip: padding-box;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
}

#grid button {
  font-family: "Source Code Pro", "Courier New", "Courier", monospace;
  font-size: 30px;
  height: 130px;
  width: 230px;
}

#navigation {
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  height:80px;
  background-color: #222222ac
}

#navigation #navbox {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0px 20px;
}

#mainbutton {
  font-family: "Source Code Pro", "Courier New", "Courier", monospace;
  font-size: 16px;
  width: 96px;
  height: 50px;
}

button, a {
  user-select: none;
  -webkit-user-drag: none;
}

.NETcontainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 760px;
  margin: 0px 15px;
}

.NETheader {
  background-color: #444444ac;
  border: 1px solid #aaaaaa88;
  border-bottom: none;
  color: white;
  padding: 15px 30px;
  border-collapse: collapse;
}

.NETbody {
  background-color: #222222ac;
  border: 1px solid #aaaaaa88;
  color: cyan;
  padding: 40px 50px;
  margin-bottom: 50px;
}

.NETline {
  margin: 8px 0px;
}

.NETimpact {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 24px;
  background-color: #222222ac;
  border: 1px solid #aaaaaa88;
  color: cyan;
  height: 128px;
  width: 728px;
  user-select: none;
  cursor: pointer;
}

.NETimpact div {
  padding: 0px 40px;
}

input[type="range"] {
  width: 500px;
}