@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v23/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevW.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 100 300;
  src: url('../../assets/fonts/Rokkitt-VariableFont_wght.ttf')
    format('truetype');
}

a:-webkit-any-link {
  color: unset;
  text-decoration: unset;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;
}

#root > div.menuroot {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  min-height: 100%;
  user-select: none;
}

.menuroot {
  background-image: url('../../assets/images/title/bali-dusk.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  user-select: none;
}

header #titlebar {
  height: 30px;
  padding: 10px 20px;
  background-color: #414141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#left {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

#right {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  color: darkorchid;
  text-shadow: darkorchid 0px 0px 10px;
}

#right #separator {
  margin: 0px 15px;
}

#exit:hover,
#settings:hover {
  cursor: pointer;
  color: rgb(120, 39, 161);
  text-shadow: rgb(120, 39, 161) 0px 0px 10px;
}

.rfm-marquee-container {
  height: 50px;
  width: 100%;
  background-color: #111111bc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  color: goldenrod;
  text-shadow: goldenrod 0px 0px 10px;
}

.rfm-child span {
  padding-right: 10px;
}

#body {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
  overflow-y: scroll;
}

#body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  position: fixed;
}

/* Custom scrollbar track */
#body::-webkit-scrollbar-track {
  background: transparent;
}

/* Custom scrollbar handle */
#body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 3px solid transparent; /* Add space around the thumb */
  background-clip: padding-box;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
}

#grid button {
  font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;
  font-size: 30px;
  height: 130px;
  width: 230px;
}

#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 80px;
  background-color: #222222ac;
}

#navigation #navbox {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0px 20px;
}

#mainbutton {
  font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;
  font-size: 16px;
  width: max-content;
  min-width: 96px;
  height: 50px;
  cursor: pointer;
}

button,
a {
  user-select: none;
  -webkit-user-drag: none;
}

.center {
  align-items: center;
}

.cursor {
  cursor: pointer;
}

.fullwidth {
  width: 670px;
  text-align: center;
}

.NETcontainer {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: 0px 15px;
}

.NETheader {
  background-color: #444444ac;
  border: 1px solid #aaaaaa88;
  border-bottom: none;
  color: white;
  padding: 15px 30px;
  border-collapse: collapse;
}

.NETbody {
  background-color: #222222ac;
  border: 1px solid #aaaaaa88;
  color: cyan;
  padding: 40px 50px;
  margin-bottom: 50px;
}

.NETline {
  margin: 8px 0px;
}

.NETline a {
  cursor: pointer;
}

.NETline[title] {
  cursor: help;
}

.NETimpact {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 24px;
  background-color: #222222ac;
  border: 1px solid #aaaaaa88;
  color: cyan;
  height: 128px;
  width: 728px;
  user-select: none;
  cursor: pointer;
}

.NETimpact div {
  padding: 0px 40px;
}

input[type='range'] {
  width: 500px;
}

.NETmodal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.NETmodalcontainer {
  width: 736px;
  padding: 29px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 500ms linear;
}

.NETmodaltitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.NETmodaldesc {
  margin-bottom: 30px;
}

.NETmodalinput {
  height: 30px;
}

.NETmodalinput input {
  height: 30px;
  font-size: 16px;
  font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;
}

.NETmodalinput select {
  height: 30px;
  font-size: 16px;
  font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;
}

.NETmodalbuttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.NETmodalbuttons a {
  background-color: rgba(153, 153, 153, 0.6);
  border-top-color: rgba(255, 255, 255, 0.09);
  border-bottom-color: rgba(0, 0, 0, 0.04);
  padding: 16px 20px;
  border-width: 4px 0px;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.NETsave {
  background-color: #222222ac;
  border: 1px solid #aaaaaa88;
  color: cyan;
  padding: 5px 25px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.NETsaveTitle {
  width: 100%;
  text-align: start;
}

.NETsaveDate {
  min-width: 33%;
  text-align: left;
}

.NETsaveImpact {
  min-width: 120px;
  text-align: end;
}

.NEToutput {
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.3);
  border: 1px solid grey;
  padding: 12px;
  transition: height 1s ease-in-out;
  min-height: 20px;
}

.NETstats {
  display: flex;
  flex-direction: row;
  background-color: #222222ac;
  border: 1px solid #aaaaaa88;
  color: cyan;
  padding: 40px 50px;
  margin-bottom: 50px;
}

.NETprogress {
  width: 150px;
}

.NETprogress>.NETline {
  width: max-content;
}

.NETachievements {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-content: start;
  gap: 0px;
  width: 100%;
  margin-left: 70px;
}

.NETachievements>div {
  margin: 8px 0px 0px 0px;
}

a.purple {
  background-color: rgb(129, 80, 178) !important;
  border-top-color: rgb(136, 90, 183) !important;
  border-bottom-color: rgb(121, 75, 168) !important;
}

/* CLASSIC THEME STYLING */

.gameRoot {
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.gameTitlebar {
  position: relative;
  width: 960px;
  height: 200px;
  background-image: url('../../assets/images/game/classic/bluebeam.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

.gameTitlebar.green {
  background-image: url('../../assets/images/game/classic/greenbeam.png');
}

.gameTitlebar.red {
  background-image: url('../../assets/images/game/classic/redbeam.png');
}

.gameTitling {
  font-family: 'ITC Lubalin Graph Std Bold', 'Rokkitt', 'Serif';
  float: left;
  margin: 28px 0px 0px 160px;
  pointer-events: none;
  user-select: none;
}

.gameTitle {
  font-size: 25px;
  color: #738e99;
  font-weight: 200;
}

.gameSubtitle {
  font-size: 18px;
  font-weight: bold;
  color: #66408c;
}

.gameSubtitle.green {
  color: #008040;
}

.gameSubtitle.red {
  color: #8a0000;
}

.gameUser {
  float: right;
  height: 28px;
  margin: 28px 160px 0px 0px;
  overflow: hidden;
  color: #8b9ca3;
  font-size: 11px;
  line-height: 14px;
  padding: 8px 11px 8px 11px;
  background: linear-gradient(180deg, #ededed, #e1e2e3);
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  cursor: pointer;
}

.gameUser:hover {
  background: linear-gradient(180deg, #eaeaea, #dadbdc);
}

.gameUsername {
  font-weight: bold;
}

.gameBody {
  width: 100%;
  height: 359px;
  background-color: #e5e7e8; /* #ebecec */
  border-top: 1px solid #daddde;
  border-bottom: 1px solid #e2e5e5;
  margin-top: -100px;
  z-index: 1;
}

.gameBody.large {
  height: 719px;
}

.gameBody.fullscreen {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
  border: 0;
}

.gamePopupMenu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  z-index: 5;
  color: white;
  transition: opacity .25s ease-in-out;
}

.gamePopupTop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 36px;
}

.gamePopupTopLeft {
  display:flex;
  flex-direction: row;
}

.gamePopupLeftButton {
  margin-right: 20px;
}

.gamePopupButton:hover {
  cursor: pointer;
  color: grey;
  transition:color .1s linear;
}

.gamePopupMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.gamePopupMiddleRightButton {
  margin-right: 36px;
  position: absolute;
  right: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out
}

.gamePopupBottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 32px;
}

.gamePlayer {
  position: relative;
  width: 640px;
  margin: 0px auto 0px auto;
  height: 359px;
  z-index: 2;
}

.gamePlayer.large, .gameVideo.large, .gameCurtain.large {
  width: 1280px;
  height: 720px;
}

.gameVideo {
  position: absolute;
  z-index: 3;
  overflow: hidden;
}

.gameCurtain {
  position: absolute;
  width: 640px;
  height: 360px;
  background-color: transparent;
  transition: background-color 500ms ease-in-out;
  z-index: 4;
}

.gameCurtain.fullscreen {
  width: 100%;
  height: 100%;
}

.gameOverlay {
  position: absolute;
  width: 640px;
  bottom: 0px;
  overflow: hidden;
  height: 188px;
  z-index: 5;
  text-align: center;
  background-color: #00000099;
  transition: height 500ms ease-in-out;
}

.gameOverlay.large {
  left: 320px;
  border-radius: 12px 12px 0px 0px;
}

.gameOverlay.fullscreen {
  left: 50%;
  border-radius: 12px 12px 0px 0px;
  transform-origin: bottom left;
  transform: translateX(-50%);
}

.gameOverlayBorder {
  background-color: #ffffff1a;
  height: 1px;
}

.gameButtons {
  padding: 17px 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameQuestion {
  color: white;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 8px;
  pointer-events: none;
  user-select: none;
}

.gameButton {
  background: linear-gradient(180deg, #fcfcfccd, #dadddecd);
  border: 1px solid black;
  border-radius: 4px;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  padding: 12px 15px;
  margin-top: 9px;
  width: 602px;
  cursor: pointer;
  line-height: 16px;
  font-size: 12px;
  text-wrap: balance;
}

.gameButton:hover {
  background: linear-gradient(180deg, #fbfbfbf0, #dadcddf0);
}

.gameButton:active {
  background: linear-gradient(
    180deg,
    #717171,
    #bababa,
    #b9b9b9,
    #b6b6b6,
    #b1b2b3,
    #aeafb0,
    #a8aaab,
    #a2a4a5
  );
}

.gameButton:first-child {
  margin-top: 0px;
}

.gameSkip {
  opacity: 0;
  position: absolute;
  right: -64px;
  top: 162px;
  width: 36px;
  height: 36px;
  background-image: url('../../assets/images/game/classic/skip2.png');
  transition: opacity 1s ease-in-out;
}

.gameSkip.green {
  background-image: url('../../assets/images/game/classic/1skip2.png');
}

.gameSkip.red {
  background-image: url('../../assets/images/game/classic/2skip2.png');
}

.gameSkip.large {
  top: 342px;
}

.gameSkip:hover {
  background-image: url('../../assets/images/game/classic/skip1.png');
}

.gameSkip.green:hover {
  background-image: url('../../assets/images/game/classic/1skip1.png');
}

.gameSkip.red:hover {
  background-image: url('../../assets/images/game/classic/2skip1.png');
}

.gameSkip:active {
  background-image: url('../../assets/images/game/classic/skip0.png');
}

.gameSkip.green:active {
  background-image: url('../../assets/images/game/classic/1skip0.png');
}

.gameSkip.red:active {
  background-image: url('../../assets/images/game/classic/2skip0.png');
}

.gameControls {
  color: #738e99;
  margin-top: 28px;
  font-size: 11px;
  text-align: center;
}

.gameControls a {
  font-weight: bold;
  cursor: pointer;
}

.gameControls a:hover {
  color: #566b73;
}

.gameFooter {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 63px;
  padding-top: 40px;
  clear: both;
  color: #738e99;
}

.gameFooterLeft {
  display: flex;
  float: left;
  width: 235px;
  text-align: left;
  padding-top: 1px;
  padding-left: 30px;
}

.gameFooterRight {
  display: flex;
  justify-content: flex-end;
  float: right;
  width: 214px;
  text-align: right;
  line-height: 40px;
  padding: 2px 51px 1px 0;
  color: #c4c9cc;
  white-space: nowrap;
}

.cdgLogo {
  background-image: url('../../assets/images/game/classic/cdglogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 53px;
  height: 33px;
}

.synydyneLogo {
  background-image: url('../../assets/images/game/classic/synydynelogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 88px;
  height: 34px;
  cursor: pointer;
  margin-left: 27px;
}

.gameTaC {
  cursor: pointer;
}

.gameTaC:hover {
  color: #9ca0a3;
}

.Modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.ModalContainer {
  width: 736px;
  padding: 29px;
  background-color: rgba(255, 255, 255, 0.8);
  transition: opacity 500ms linear;
  font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;
}

.ModalTitle {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 5px;
}

.ModalDesc {
  margin-bottom: 15px;
  font-size: 16px;
}

.ModalButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
}

.ModalButtons a {
  background-color: rgba(153, 153, 153, 0.6);
  border-top-color: rgba(255, 255, 255, 0.09);
  border-bottom-color: rgba(0, 0, 0, 0.04);
  padding: 16px 20px;
  border-width: 4px 0px;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  margin-left: 15px;
}

.debugPane {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 200px;
  background-color: #444444ac;
  z-index: 6;
  display:flex;
  flex-direction: column;
  border: 1px solid cyan;
  color: white;
  user-select: none;
  border-radius: 2px;
}

.debugPaneTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px;
  font-weight: bold;
  border: 1px solid cyan;
}

.debugPaneBody {
  padding: 2px;
}

.debugPaneTitle .right {
  cursor: pointer;
}

.debugPaneLine {
  padding: 1.5px 2px;
}

.debugPaneLine:hover {
  background-color: #666666ac;
  cursor: pointer;
}

.NETplayer {
  margin-top: 32px;
}

.NETline select {
  margin-right: 10px;
  font-size: 16px;
  font-family: 'Source Code Pro', 'Courier New', 'Courier', monospace;
}