@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/sourcecodepro/v23/HI_SiYsKILxRpg3hIP6sJ7fM7PqlPevW.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Rokkitt';
  font-style: normal;
  font-weight: 100 300;
  src: url('../../assets/fonts/Rokkitt-VariableFont_wght.ttf') format('truetype');
}

a:-webkit-any-link {
  color: unset;
  text-decoration: unset;
}

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: "Source Code Pro", "Courier New", "Courier", monospace;
}

#root > div.menuroot {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  min-height: 100%;
}

.menuroot {
  background-image: url('../../assets/images/title/skyline-night.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  user-select: none;
}

header #titlebar {
  height: 30px;
  padding: 10px 20px;
  background-color: #414141;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#left {
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
}

#right {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: bold;
  color: darkorchid;
  text-shadow: darkorchid 0px 0px 10px;
}

#right #separator {
  margin: 0px 15px;
}

#exit:hover, #settings:hover {
  cursor: pointer;
  color: rgb(120, 39, 161);
  text-shadow: rgb(120, 39, 161) 0px 0px 10px;
}

.rfm-marquee-container {
  height: 50px;
  width: 100%;
  background-color: #111111bc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  color: goldenrod;
  text-shadow: goldenrod 0px 0px 10px;
}

.rfm-child {
  padding-right: 9px;
}

#body {
  width: 100%;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  padding-top:50px;
  overflow-y: scroll;
}

#body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  position: fixed;
}

/* Custom scrollbar track */
#body::-webkit-scrollbar-track {
  background: transparent;
}

/* Custom scrollbar handle */
#body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 3px solid transparent; /* Add space around the thumb */
  background-clip: padding-box;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
}

#grid button {
  font-family: "Source Code Pro", "Courier New", "Courier", monospace;
  font-size: 30px;
  height: 130px;
  width: 230px;
}

#navigation {
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  height:80px;
  background-color: #222222ac
}

#navigation #navbox {
  width: 760px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0px 20px;
}

#mainbutton {
  font-family: "Source Code Pro", "Courier New", "Courier", monospace;
  font-size: 16px;
  width: 96px;
  height: 50px;
}

button, a {
  user-select: none;
  -webkit-user-drag: none;
}

.center {
  align-items: center;
}

.cursor {
  cursor: pointer;
}

.fullwidth {
  width: 670px;
  text-align: center;
}

.NETcontainer {
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: 0px 15px;
}

.NETheader {
  background-color: #444444ac;
  border: 1px solid #aaaaaa88;
  border-bottom: none;
  color: white;
  padding: 15px 30px;
  border-collapse: collapse;
}

.NETbody {
  background-color: #222222ac;
  border: 1px solid #aaaaaa88;
  color: cyan;
  padding: 40px 50px;
  margin-bottom: 50px;
}

.NETline {
  margin: 8px 0px;
}

.NETline a {
  cursor: pointer;
}

.NETimpact {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 24px;
  background-color: #222222ac;
  border: 1px solid #aaaaaa88;
  color: cyan;
  height: 128px;
  width: 728px;
  user-select: none;
  cursor: pointer;
}

/* .NETcontainer a {
  display:flex;
  justify-content: center;
} */

.NETimpact div {
  padding: 0px 40px;
}

input[type="range"] {
  width: 500px;
}

.NETmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 736px;
  margin-left: -368px;
  padding: 29px;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  display: none;
  transition: opacity 500ms linear;
}

.NETmodaltitle {
  font-weight: bold;
  margin-bottom: 5px;
}

.NETmodaldesc {
  margin-bottom:30px;
}

.NETmodalinput {
  height: 30px;
}

.NETmodalinput input {
  height: 30px;
  font-size: 16px;
  font-family: "Source Code Pro", "Courier New", "Courier", monospace;
}

.NETmodalbuttons {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.NETmodalbuttons a {
  background-color: rgba(153, 153, 153, 0.6);
  border-top-color: rgba(255, 255, 255, 0.09);
  border-bottom-color: rgba(0, 0, 0, 0.04);
  padding: 16px 20px;
  border-width: 4px 0px;
  color: white;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

a.purple {
  background-color: rgb(129, 80, 178);
  border-top-color: rgb(136, 90, 183);
  border-bottom-color: rgb(121, 75, 168);
}

/* CLASSIC THEME STYLING */

.gameRoot {
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.gameTitlebar {
  position: relative;
  width: 960px;
  height: 200px;
  background-image: url('../../assets/images/game/classic/i1beam.png');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}

.gameTitling {
  font-family: "ITC Lubalin Graph Std Bold","Rokkitt","Serif";
  float: left;
  margin: 28px 0px 0px 160px;
}

.gameTitle {
  font-size: 25px;
  color: #738E99;
  font-weight: 200;
}

.gameSubtitle {
  font-size: 18px;
  font-weight: bold;
  color: #66408c;
}

.gameUser {
  float: right;
  height: 28px;
  margin: 28px 160px 0px 0px;
  overflow: hidden;
  color: #8b9ca3;
  font-size: 11px;
  line-height: 14px;
  padding: 8px 11px 8px 11px;
  background: linear-gradient(180deg, #ededed, #e1e2e3);
  border: 1px solid #d6d6d6;
  border-radius: 4px;
  cursor: pointer;
}

.gameUser:hover {
  background: linear-gradient(180deg, #eaeaea, #dadbdc);
}

.gameUsername {
  font-weight: bold;
}

.gameBody {
  width: 100%;
  height: 359px;
  background-color: #E5E7E8; /* #ebecec */
  border-top: 1px solid #daddde;
  border-bottom: 1px solid #e2e5e5;
  margin-top: -100px;
  z-index: 1;
}

.gamePlayer {
  position: relative;
  width: 960px;
  margin: 0px auto 0px auto;
  height: 359px;
  z-index: 1;
}

.gameVideo {
  position: absolute;
  left: 160px;
  z-index: 3;
}

.gameCurtain {
  position: absolute;
  left: 160px;
  width: 640px;
  height: 360px;
  background-color: none;
  transition: background-color 500ms ease-in-out;
  z-index: 4;
}

.gameOverlay {
  position:absolute;
  left: 160px;
  width: 640px;
  bottom: 0px;
  overflow: hidden;
  height: 188px;
  z-index: 5;
  text-align: center;
  background-color: #00000099;
  transition: height 500ms ease-in-out;
}

.gameOverlayBorder {
  background-color: #ffffff1a;
  height: 1px;
}

.gameButtons {
  padding: 17px 19px;
}

.gameButton {
  background: linear-gradient(180deg, #fcfcfccd, #dadddecd);
  border: 1px solid black;
  border-radius: 4px;
  padding: 12px 15px;
  margin-top: 9px;
  width: 100%;
  cursor: pointer;
  line-height: 16px;
  font-size: 12px;
}

.gameButton:hover {
  background: linear-gradient(180deg, #fbfbfbf0, #dadcddf0);
}

.gameButton:active {
  background: linear-gradient(180deg, #717171, #bababa, #b9b9b9, #b6b6b6, #b1b2b3, #aeafb0, #a8aaab, #a2a4a5);
  
}

.gameButton:first-child {
  margin-top: 0px;
}

.gameSkip {
  opacity: 0;
  position: absolute;
  right: 96px;
  top: 160px;
  width: 36px;
  height: 36px;
  background-image: url('../../assets/images/game/classic/skip2.png');
  transition: opacity 1.0s ease-in-out;
}

.gameSkip:hover {
  background-image: url('../../assets/images/game/classic/skip1.png');
}

.gameSkip:active {
  background-image: url('../../assets/images/game/classic/skip0.png');
}

.gameControls {
  color: #738e99;
  margin-top: 28px;
  font-size: 11px;
  text-align: center;
}

.gameControls a {
  font-weight: bold;
  cursor: pointer;
}

.gameControls a:hover {
  color: #566b73;
}

.gameFooter {
  width: 100%;
  position: relative;
  bottom: 0;
  height: 63px;
  padding-top: 40px;
  clear: both;
  color: #738e99;
}

.gameFooterLeft {
  display: flex;
  float: left;
  width: 235px;
  text-align: left;
  padding-top: 1px;
  padding-left: 30px;
}

.gameFooterRight {
  display: flex;
  justify-content: flex-end;
  float: right;
  width: 214px;
  text-align: right;
  line-height: 40px;
  padding: 2px 51px 1px 0;
  color: #c4c9cc;
  white-space: nowrap;
}

.cdgLogo {
  background-image: url('../../assets/images/game/classic/cdglogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 53px;
  height: 33px;
}

.synydyneLogo {
  background-image: url('../../assets/images/game/classic/synydynelogo.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 88px;
  height: 34px;
  cursor: pointer;
  margin-left: 27px;
}

.gameTaC {
  cursor: pointer;
}

.gameTaC:hover {
  color: #9ca0a3;
}